:root {
  --bg-light: #fefefe;
  --bg-dark: #252525;
  --primary-light: #0e86d4;
  --primary-dark: #303030;
  --secondary-light: #68bbe3;
  --secondary-dark: #164bd4;
  --text-light: #fff;
  --text-dark: #22617c;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}
