.library-main {
  gap: 1rem 0.5rem;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 650px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 800px) {
    gap: 1.5rem 0.75rem;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1450px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 1800px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
