// Root
:root {
  --bg-light: #e8e8e8;
  --bg-dark: #252525;
  --danger: #d83a3a;
  --danger-hover: #a72f2f;
  --primary-light: #0e86d4;
  --primary-light-hover: #0a6cb3;
  --primary-dark: #3e3e3e;
  --primary-dark-hover: #1c201d;
  --secondary-light: #68bbe3;
  --secondary-light-hover: #5298c8;
  --secondary-dark: #164bd4;
  --secondary-dark-hover: #0b32b3;
  --success: #5eba3d;
  --success-hover: #4d9a2f;
  --text-light: #fff;
  --text-dark: #22617c;
  --text-dark-hover: #194b61;
  --text-disabled: #7b7b7b;
  --text-disabled-light: #b9b9b9;
  --text-danger: #ff5959;
  --modal-back: #4444448e;
  --bg-card-dark: #0f0f0f;
  --myanimelist: #2e51a2;
  --myanimelist-hover: #203972;
}

// Position
.absolute {
  position: absolute;
}

.absolute-align {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

// Z-Index
.zIndex-100 {
  z-index: 100;
}

.zIndex-1000 {
  z-index: 1000;
}

// Font
.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.fsize-1 {
  font-size: 0.25rem;
}

.fsize-2 {
  font-size: 0.5rem;
}

.fsize-3 {
  font-size: 0.75rem;
}

.fsize-3-5 {
  font-size: 0.875rem;
}

.fsize-4 {
  font-size: 1rem;
}

.fsize-4-5 {
  font-size: 1.25rem;
}

.fsize-5 {
  font-size: 1.5rem;
}

.fsize-6 {
  font-size: 2rem;
}

.fweight-1 {
  font-weight: 400;
}

.fweight-2 {
  font-weight: 500;
}

.fweight-3 {
  font-weight: 600;
}

.font-bold {
  font-weight: bold;
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

.hover-opacity-1:hover {
  opacity: 0.75;
  transition: opacity 0.3s;
}

.hover-opacity-2:hover {
  opacity: 0.75;
}

.hover-none:hover {
  background: inherit;
}

// Border
.radius-1 {
  border-radius: 0.25rem;
}

.radius-2 {
  border-radius: 0.5rem;
}

.round {
  border-radius: 50%;
}

// Border
.border-1 {
  border: 1px solid black;
}

.border-secondary-dark-1 {
  border: 1px solid var(--secondary-dark);
}

.border-secondary-light-1 {
  border: 1px solid var(--bg-light);
}

.border-bottom-primary-light {
  border-bottom: 2px solid var(--primary-light);
}

.border-bottom-light {
  border-bottom: 1px solid var(--bg-light);
}

.border-bottom-primary-dark {
  border-bottom: 2px solid var(--primary-dark);
}

.border-secondary-dark-left-1 {
  border-left: 1px solid var(--secondary-dark);
}

.border-secondary-dark-right-1 {
  border-right: 1px solid var(--secondary-dark);
}

.border-secondary-light-left-1 {
  border-left: 1px solid var(--bg-light);
}

.border-secondary-light-right-1 {
  border-right: 1px solid var(--bg-light);
}

// Background
.primary-light,
.primary-light::placeholder {
  background-color: var(--primary-light);
  color: var(--text-light);
}

.primary-light::placeholder:hover {
  background-color: var(--primary-light-hover);
  transition: background-color 0.2s;
}

.primary-light-hover:hover {
  background-color: var(--primary-light-hover);
  transition: background-color 0.2s;
}

.primary-dark,
.primary-dark::placeholder {
  background-color: var(--primary-dark);
  color: var(--text-light);
}

.primary-dark::placeholder:hover {
  background-color: var(--primary-dark-hover);
  transition: background-color 0.2s;
}

.primary-dark-hover:hover {
  background-color: var(--primary-dark-hover);
  transition: background-color 0.2s;
}

.success,
.success::placeholder {
  background-color: var(--success);
  color: var(--text-light);
}

.success::placeholder:hover {
  background-color: var(--success-hover);
  transition: background-color 0.2s;
}

.success-hover:hover {
  background-color: var(--success-hover);
  transition: background-color 0.2s;
}

.danger,
.danger::placeholder {
  background-color: var(--danger);
  color: var(--text-light);
}

.danger::placeholder:hover {
  background-color: var(--danger-hover);
  transition: background-color 0.2s;
}

.danger-hover:hover {
  background-color: var(--danger-hover);
  transition: background-color 0.2s;
}

.danger:checked {
  background-color: var(--danger);
}

.bg-light,
.bg-light::placeholder {
  background-color: var(--text-light);
  color: var(--primary-dark);
}

.bg-light-hover:hover {
  background-color: var(--bg-light);
}

.bg-text-dark,
.bg-text-dark::placeholder {
  background-color: var(--text-dark);
  color: var(--text-light);
}

.bg-text-dark-hover:hover {
  background-color: var(--text-dark-hover);
  color: var(--text-light);
  transition: background-color 0.2s;
}

.secondary-dark {
  background-color: var(--secondary-dark);
  color: var(--text-light);
  transition: background-color 0.2s;
}

.secondary-dark-hover:hover {
  background-color: var(--secondary-dark-hover);
  color: var(--text-light);
  transition: background-color 0.2s;
}

.secondary-light {
  background-color: var(--secondary-light);
  color: var(--primary-dark);
  transition: background-color 0.2s;
}

.secondary-light-hover:hover {
  background-color: var(--secondary-light-hover);
  color: var(--primary-dark);
  transition: background-color 0.2s;
}

.bg-disabled {
  background-color: var(--text-disabled);
  color: #fff;
}

.bg-disabled-light {
  background-color: var(--text-disabled-light);
  color: #5f5f5f;
}

.bg-modal-back {
  background-color: var(--modal-back);
}

.bg-dark {
  background-color: var(--bg-dark);
  color: #fff;
}

.bg-menu-dark {
  background-color: var(--primary-dark);
  color: #fff;
}

.bg-card-dark {
  background-color: var(--bg-card-dark);
}

.bg-myanimelist {
  background-color: var(--myanimelist);
  color: var(--bg-light);
}

.bg-myanimelist-hover:hover {
  background-color: var(--myanimelist-hover);
}

// Text Hover
.text-hover-secondary-light:hover {
  color: var(--secondary-light-hover) !important;
  transition: background-color 0.2s;
}

.text-hover-secondary-dark:hover {
  color: var(--secondary-dark-hover) !important;
  transition: background-color 0.2s;
}

// Text
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--text-dark) !important;
}

.text-secondary {
  color: var(--text-light) !important;
}

.text-secondary-dark {
  color: var(--secondary-dark) !important;
}

.text-secondary-light {
  color: var(--secondary-light) !important;
}

.text-disabled {
  color: var(--text-disabled) !important;
}

.text-danger {
  color: var(--text-danger) !important;
}

.text-success {
  color: var(--success) !important;
}

.text-myanimelist {
  color: var(--myanimelist) !important;
}

.break-word {
  word-wrap: break-word;
}

.text-justify {
  text-align: justify;
}

// Flex
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

// Grid
.grid {
  display: grid;
}

.grid-gap {
  gap: 1;
}

// Gap
.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 2rem;
}

.gap-6 {
  gap: 3rem;
}

.row-gap-1 {
  row-gap: 0.25rem;
}

.row-gap-2 {
  row-gap: 0.5rem;
}

.row-gap-3 {
  row-gap: 0.75rem;
}

.row-gap-4 {
  row-gap: 1rem;
}

// Margin
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 3rem;
}

// Padding
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pv-1 {
  padding: 0.25rem 0;
}

.pv-2 {
  padding: 0.5rem 0;
}

.pv-3 {
  padding: 0.75rem 0;
}

.pv-4 {
  padding: 1rem 0;
}

.ph-1 {
  padding: 0 0.25rem;
}

.ph-2 {
  padding: 0 0.5rem;
}

.ph-3 {
  padding: 0 0.75rem;
}

.ph-4 {
  padding: 0 1rem;
}

// Height
.h-100 {
  height: 100%;
}

// Width
.w-icon {
  width: 15px;
}

.w-100 {
  width: 100%;
}

// Shadow
.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.shadow-3 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

// Box-sizing
.border-box {
  box-sizing: border-box;
}

// Others
.opacity-1 {
  opacity: 0.75;
}

.opacity-2 {
  opacity: 0.5;
}

.opacity-placeholder-1::placeholder {
  opacity: 0.75;
}

.opacity-placeholder-2::placeholder {
  opacity: 0.5;
}

.object-cover {
  object-fit: cover;
}

// Checkbox
.checkbox-container,
.radio-button {
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  display: none;
}

.custom-checkbox {
  border-radius: 50%;
  height: 20px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  width: 20px;
}

.checkmark {
  border-radius: 50%;
  display: none;
  height: 8px;
  width: 8px;
}

.checkbox-container input:checked + .custom-checkbox .checkmark {
  display: block;
}

// Radio
input[type="radio"] {
  appearance: none;
  background-clip: content-box;
  border-radius: 50%;
  height: 20px;
  position: relative;
  width: 20px;
}

input[type="radio"]::before {
  border-radius: 50%;
  background-color: transparent;
  content: "";
  display: block;
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
}

input[type="radio"]:checked::before {
  background-color: white; /* Color of the dot for checked radio button */
}
